$black: #000;
$white: #fff;

$primary: #ECEFF1;
$secondary: #607D8B;

$color_0: #CFD8DC;
$color_1: #E0F2F1;
$color_2: #CDEAE8;
$color_3: #BBE3DF;
$color_4: #A8DBD7;
$color_5: #96D4CE;
$color_6: #84CCC5;
$color_7: #71C5BD;
$color_8: #5FBDB4;
$color_9: #4DB6AC;

.color_0{
 background-color: $color_0;
}
