// Font weights
$font_dir: '../fonts/';

@function _full-font-url($name, $extension, $format)
{
    @return url($font_dir + $name + "." + $extension) format($format);
}

@mixin register-font($name)
{
    @font-face {
        font-family: $name;
        font-style: normal;
        font-weight: normal;
        src: _full-font-url($name, 'ttf', 'truetype');
	}
}

@mixin use-normal-font($name, $weight, $size, $spacing, $color)
{
    font-family: $name, sans-serif;;
    font-weight: $weight;
    font-size: $size;
    letter-spacing: $spacing;
    color: $color;
}


// @include register-font('SourceSansPro-Regular');
// @include register-font('SourceSansPro-Light');
// @include register-font('SourceSansPro-Bold');
// @include register-font('SourceSansPro-Black');
// @include register-font('SourceSansPro-BlackItalic');
// @include register-font('SourceSansPro-Semibold');
// @include register-font('SourceSansPro-SemiboldItalic');
// @include register-font('SourceSansPro-LightItalic');
// @include register-font('SourceSansPro-ExtraLightItalic');
// @include register-font('SourceSansPro-Italic');

// @include register-font('PoiretOne-Regular');
//
@include register-font('OpenSans-Regular');
@include register-font('OpenSans-Bold');
@include register-font('OpenSans-BoldItalic');
@include register-font('OpenSans-ExtraBold');
@include register-font('OpenSans-ExtraBoldItalic');
@include register-font('OpenSans-Italic');
@include register-font('OpenSans-Light');
@include register-font('OpenSans-LightItalic');
@include register-font('OpenSans-Semibold');
@include register-font('OpenSans-SemiboldItalic');
