.mediumFont{
  @include breakpoint(small down) {
      font-size: modular-scale(1, 0.55rem, 1.234)!important;
  }

  @include breakpoint(medium) {
      font-size: modular-scale(2, 0.55rem, 1.234)!important;
  }

  @include breakpoint(large up) {
      font-size: modular-scale(3, 0.5rem, 1.234)!important;
  }
}


.mediumLargeFont{
  @include breakpoint(small down) {
      font-size: modular-scale(2, 0.5rem, 1.234)!important;
  }

  @include breakpoint(medium) {
      font-size: modular-scale(3, 0.5rem, 1.234)!important;
  }

  @include breakpoint(large up) {
      font-size: modular-scale(4, 0.5rem, 1.234)!important;
  }

  @include breakpoint(xlarge up) {
      font-size: modular-scale(5, 0.5rem, 1.234)!important;
  }
}


.mediumWithHeadline{
  // @include breakpoint(small down) {
  //   font-size: modular-scale(0.5, 0.5rem, 1.234)!important;
  //   h3{
  //     font-size: modular-scale(0.5, 1rem, 1.234)!important;
  //   }
  //   p{
  //     font-size: modular-scale(0.5, 0.5rem, 1.234)!important;
  //   }
  // }
  @include breakpoint(medium down) {
    font-size: modular-scale(1, 0.5rem, 1.234)!important;
    h3{
      font-size: modular-scale(1, 1rem, 1.234)!important;
    }
    p{
      font-size: modular-scale(1, 0.5rem, 1.234)!important;
    }
  }

  @include breakpoint(large) {
    font-size: modular-scale(2, 0.5rem, 1.234)!important;
    h3{
      font-size: modular-scale(2, 1rem, 1.234)!important;
    }
    p{
      font-size: modular-scale(2, 0.5rem, 1.234)!important;
    }
  }

  @include breakpoint(xlarge) {
    font-size: modular-scale(3, 0.5rem, 1.234)!important;
    h3{
      font-size: modular-scale(3, 1rem, 1.234)!important;
    }
    p{
      font-size: modular-scale(3, 0.5rem, 1.234)!important;
    }
  }
}
