// Global fade transition
.fade-transition {
  transition: 1.0s ease;
}

.fade-enter {
  opacity: 0;
}

.fade-leave {
  opacity: 0;
}



.hfade-transition {
  transition: 1.4s cubic-bezier(.77,0,.175,1).1s;
}

.hfade-enter {
  opacity: 0;
}

.hfade-leave {
  opacity: 0;
}



.slide-transition {
  transition: transform 1.4s cubic-bezier(.77,0,.175,1).1s;
  transform: translate3d(0, 0%, 0);
}

.slide-enter{
  transform: translate3d(0, -100%, 0);
}

.slide-leave{
  transform: translate3d(0, -100%, 0);
}


.trans{
  transform: translate3d(0, 0%, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);;
  z-index: 33;
  transition: all 300ms ease;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    // visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}



@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    // visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-duration: 3s;
  animation-name: slideOutUp;
}
