// Global fade transition
.fade-transition {
  transition: 2.0s ease;
}

.fade-enter {
  opacity: 0;
}

.fade-leave {
  opacity: 0;
}



.hfade-transition {
  transition: 2.0s ease;
}

.hfade-enter {
  opacity: 0;
}

.hfade-leave {
  opacity: 0;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    // visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}



@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    // visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-duration: 3s;
  animation-name: slideOutUp;
}
