// Global fade transition
.fade-transition {
  transition: 2.0s ease;
}

.fade-enter {
  opacity: 0;
}

.fade-leave {
  opacity: 0;
}



.hfade-transition {
  transition: 2.0s ease;
}

.hfade-enter {
  opacity: 0;
}

.hfade-leave {
  opacity: 0;
}
