// $light: 'SourceSansPro-Light';
// $regular: 'SourceSansPro-Regular';
// $bold: 'SourceSansPro-Bold';
// $semiBold: 'SourceSansPro-Semibold';
// $extraLight: 'SourceSansPro-ExtraLight';
// $black: 'SourceSansPro-Black';
// $blackItalic: 'SourceSansPro-BlackItalic';
// $italic: 'SourceSansPro-Italic';
// $regularPo: 'PoiretOne-Regular';

$regular: 'OpenSans-Regular';
$bold: 'OpenSans-Bold';
$boldItalic: 'OpenSans-BoldItalic';
$extraBold: 'OpenSans-ExtraBold';
$extraBoldItalic: 'OpenSans-ExtraBoldItalic';
$italic: 'OpenSans-Italic';
$light: 'OpenSans-Light';
$lightItalic: 'OpenSans-LightItalic';
$semiBold: 'OpenSans-SemiBold';
$semiBoldItalic: 'OpenSans-SemiBoldItalic';



$typl8-serif-boolean: false !default;
$typl8-custom-font: true !default;

$light: 'SourceSansPro-Light';
$regular: 'SourceSansPro-Regular';
$bold: 'SourceSansPro-Bold';
$semiBold: 'SourceSansPro-Semibold';
$extraLight: 'SourceSansPro-ExtraLight';
$black: 'SourceSansPro-Black';
$blackItalic: 'SourceSansPro-BlackItalic';
$italic: 'SourceSansPro-Italic';
