$light: 'SourceSansPro-Light';
$regular: 'SourceSansPro-Regular';
$bold: 'SourceSansPro-Bold';
$semiBold: 'SourceSansPro-Semibold';
$extraLight: 'SourceSansPro-ExtraLight';
$black: 'SourceSansPro-Black';
$blackItalic: 'SourceSansPro-BlackItalic';
$italic: 'SourceSansPro-Italic';
