
/* ---- grid ---- */

.grid {
  background: #DADADA;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;

  // @include breakpoint(medium down) {
  //   width: 50%;
  //   // transform: translateX(-35%) translateY(-45%);
  // }
  // margin-bottom: rem(10);
}

.grid-item_large {
  width: 66.6666%;

  // @include breakpoint(medium down) {
  //   width: 50%;
  //   // transform: translateX(-35%) translateY(-45%);
  // }
  margin-bottom: rem(10);
}



.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
