@charset "utf-8";

#wrapper .bg{
  position:relative;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position:50% 50%;
  background-size: cover;
  transition: transform 100ms linear;
  // background-color: $primary;
  // transition: all 500ms ease;
}

#wrapper{
  // @extend %full-size;
  position:relative;
  height: 100%;
  border-color: $white;
  border-style: solid;
  // border-bottom: 0;
  border-width: 0.5rem;
  background-color: #DADADA;

  @media #{$medium-up} {
    border-width: 1rem;
  }

}

// .work.transform::after{
//   content: "";
//   transform: rotate(-4deg);
// }


.contact{
  position: relative;
  width: 100%;
  height: 100rem;
  background-color: $primary;
}

.scroll{
  bottom: 10%;
  color: #000;
  font-size: 0.4rem;
}

.scroll_hint{
  position: absolute;
  bottom: 9vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



.circle{
  // margin-top: 60rem;
  position: relative;
  width: rem(12);
  height: rem(12);
  margin: 0 auto;
  margin-top: rem(6);
  background: #fff;
  border-radius: 50%;
  overflow: hidden;

  svg{
    width: rem(6);
    height: rem(7);
    fill: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    // background-image: url("/images/down_arrow.svg");
    // background-size: 100%;
    // background-repeat: no-repeat;
    margin-left: rem(-3);
    margin-top: rem(-3);
  }
}

.tag{
  // transform: matrix(1, 0, 0, 1, 668, 42); transition: transform 100ms linear;
  user-select: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);

  @include breakpoint(xxlarge up) {
    top: 45%;
    left: 35vw;
    // transform: translateX(-35%) translateY(-45%);
  }

  @include breakpoint(medium down) {
    top: 80%;
    // transform: translateX(-35%) translateY(-45%);
  }

  .name{
    color: black;
  }

  .description_one{
    color: white;
  }

  .description_two{
    color: white;
  }

  @include use-normal-font($semiBold, 400, 1rem, 2px, rgb(255, 255, 255));
  text-align: center;

  @include breakpoint(xxlarge up) {
    text-align: right;
  }
}
