@charset "utf-8";

#wrapper .bg{
  position:relative;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position:50% 50%;
  background-size: cover;
  transition: transform 160ms linear;
  // transform: matrix(1, 0, 0, 1, 0, 0);
  // background-color: $primary;
  // transition: all 500ms ease;
}

#wrapper{
  z-index: 1;
  // @extend %full-size;
  position:relative;
  height: 100%;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $primary;

  @include breakpoint(medium up) {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .topbar{
    top: 0%;
    width: 100%;
    height: 1rem;
    background-color: $primary;
    position: absolute;
  }

}

.bg-overlay{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.contact{
  position: relative;
  width: 100%;
  height: 15rem;
  background-color: $color_0;
}

.scroll{
  bottom: 10%;
  color: #000;
  font-size: 0.4rem;
}

.scroll_hint{
  position: absolute;
  bottom: 9vh;
  left: 50%;
  @include breakpoint(medium down) {
    bottom: 4vh;
    font-size: modular-scale(1, 0.2rem, 1.234)!important;
  }
  transform: translateX(-50%) translateY(-50%);
}



.circle{
  // margin-top: 60rem;
  position: relative;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  // margin-top: rem(6);
  background: #fff;
  border-radius: 12px;
  overflow: hidden;

  svg{
    width: 6px;
    height: 6px;
    fill: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    // background-image: url("/images/down_arrow.svg");
    // background-size: 100%;
    // background-repeat: no-repeat;
  }
}

.tag{
  // transform: matrix(1, 0, 0, 1, 668, 42); transition: transform 100ms linear;
  user-select: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);


  @include breakpoint(medium down) {
    top: 80%;
    h6{
      font-size: modular-scale(2, 0.5rem, 1.234)!important;
    }

  }

  @include breakpoint(large up) {
    top: 45%;
    left: 30%;
    text-align: right;
    h6{
      font-size: modular-scale(2, 0.5rem, 1.234)!important;
    }
  }


  @include breakpoint(xlarge up) {
    left: 28%;
    text-align: right;
    h6{
      font-size: modular-scale(3, 0.5rem, 1.234)!important;
    }
  }


  @include breakpoint(xxlarge up) {
    left: 35%;
    text-align: right;
    h6{
      font-size: modular-scale(3, 0.5rem, 1.234)!important;
    }
  }

  // @include breakpoint(xxxlarge up) {
  //   left: 37%;
  //   text-align: right;
  //   h6{
  //     font-size: modular-scale(5, 0.5rem, 1.234)!important;
  //   }
  // }

  .name{
    color: black;
  }

  .description_one{
    color: white;
  }

  .description_two{
    color: white;
  }

  @include use-normal-font($semiBold, 400, 1rem, 2px, rgb(255, 255, 255));
  text-align: center;

}
