.project-layout{
  position: relative;
  width: 100%;
  height: calc(100% - 180px);
  // height: -moz-calc((100%-180px));
  overflow: hidden;
  background-color: $color_2;
  z-index: 1;
}

.project-coverup{
  display: block;
  height: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #242424;
  text-align: right;
  z-index: 2;
}

.coverScreen{
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: contain;
}
.project-text{
  color: $black;

}
.image-loader {
    // padding-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: calc(100%/1.7777777);
    color: #797979;
    // line-height: 400px;
    background-color: #f8f8f8;
    overflow: hidden;
    text-align: center;
}

.image-loader-info {
    // padding-top: 1rem;
}

canvas{
  display: block;
  position: absolute;
  top: 0;
}

.project-header{
  padding-top: 5rem;
  display: block;
  height: 15rem;
  position: relative;;
  bottom: 0;
  right: 0;
  left: 0;
  background: #121212;
  z-index: 2;
  background-color: $white;
  text-align: left;
  font-size: 1rem;

  h3{
    @include use-normal-font($extraBold, 400, 2rem, 0, #797979);
  }
}


.project-overlay{
  // position: absolute;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #242424;
  z-index: 2;
}

.project-description{
  position: relative;
  background-color: $white;
  color: $white;
  height: 100%;
  z-index: 10;

  .image{
    width: 100%;
    height: auto;
    min-width: 100%;
    opacity: 1;
    transition: all 2s linear;
  }

  .circle{
    margin-top: 2rem;
    margin-bottom: 20%;
    z-index: 101;
  }
}

.project-section{
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}


.header{
  position: absolute;
  margin-left: 1rem;
  width: 100%;
  // margin: 1rem,1rem,1rem,1rem;
  @include use-normal-font($extraBold, 400, 10.25rem, 0, rgb(255, 255, 255));
  font-size: modular-scale(3, 2em, 1.234)!important;
  text-align: center;
  letter-spacing: 20px;
  z-index: 100;

  @include breakpoint(medium down) {
    font-size: modular-scale(1, 2em, 1.234)!important;
    margin-left: 0.5rem;
  }
}
