.project-layout{
  position: relative;
  width: 100%;
  height: calc((100%-180px));
  overflow: hidden;
  background-color: $color_2;
  z-index: 1;
}

.project-coverup{
  display: block;
  height: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #121212;
  text-align: right;
  padding: 5rem;
  z-index: 2;
}

.coverScreen{
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: contain;
}

canvas{
  display: block;
  position: absolute;
  top: 0;
}

.project-overlay{
  // position: absolute;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #000;
  z-index: 2;
}

.project-description{
  position: relative;
  background-color: $color_0;
  color: $white;
  height: 100%;
  z-index: 10;

  .image{
    width: 100%;
    height: auto;
    min-width: 100%;
  }

  .circle{
    margin-top: 2rem;
    margin-bottom: 20%;
    z-index: 101;
  }
}


.header{
  position: absolute;
  // background-color: $color_6;
  width: 100%;
  // margin: 1rem,1rem,1rem,1rem;
  @include use-normal-font($extraBold, 400, 10.25rem, 0, rgb(255, 255, 255));
  text-align: center;
  letter-spacing: 20px;
  z-index: 100;
}
