#box{
  position: absolute;
  // background:lightgrey;
  width:6.5rem;
  height:4rem;
  z-index: 99;
  right: 0;

  *{
    -webkit-transition: opacity 100ms ease;
    transition: opacity 100ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .about{
    position:fixed;
    margin-top: 1rem;
    @include use-normal-font($extraBold, 400, 1.0rem, 0, rgb(0, 0, 0));
    // text-decoration: underline;
    color: #000;
    a{
      background-color: #000;
      color: #fff;
    }
  }



  ul{
    padding:2rem;
  }
  li{
    list-style:none;
    width:100%;
    height:4px;
    background:#000;
    margin-bottom:6px;
    position:relative;
  }
  li:first-child{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    top:0px;
  }
  li:last-child{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    top:0px;
  }
  .open li{
    opacity:0;
  }
  .open li:first-child{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    top:12px;
    opacity:1;
  }
  .open li:last-child{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    top:-12px;
    opacity:1;
  }
}

.slide {
  transform: translate3d(0, -100%, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);;
  z-index: 33;
  transition: all 300ms ease;
  text-align: center;
}


.trans{
  transform: translate3d(0, 0%, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);;
  z-index: 33;
  transition: all 300ms ease;
}

.nav a{
  pointer-events: auto;
  display: block;
  position: relative;
}


.line{
  position: absolute;
  background-color: #7FFFD4;
  width: 100%;
  height: 0.6rem;
  top: 50%;
  left: 0;
}

.lleave{
  transform: matrix(0.1,0,0,1,0,0);
  opacity: 0;
  transition: all 800ms cubic-bezier(.19,1,.22,1);
}

.lenter{
  display: block;
  transform: matrix(1,0,0,1,0,0);
  opacity: 1;
  transition: all 800ms cubic-bezier(.19,1,.22,1);
}
