#nav-box{
  position: fixed;
  z-index: 99;
  width: 100%;
  white-space: nowrap;
  color: #fff;
  top: 2rem;
  pointer-events: none;

  *{
    -webkit-transition: opacity 100ms ease;
    transition: opacity 100ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .nav-links{
    float: right;
    margin-right: 4rem;
    text-align: right;
    @include breakpoint(medium down) {
      margin-right: 0;
      text-align: center;
      float: none;;
      .nav-line{
        opacity: 0;
      }
    }
    @include use-normal-font($extraBold, 400, 0.8rem, 4px, rgb(0, 0, 0));
    // text-decoration: underline;
    color: #000;
    a{
      pointer-events: auto;
      display: block;
      margin-top: 5px;
      position: relative;
      color: #000;
      background-blend-mode: color-dodge;
      // background-color: white;
      // padding-right: 0.5rem;
    }

    a:hover {
      span{
        padding-right: 1rem
      }
      .nav-line{
        transform: scaleX(1);
        // transform: translateX(0%);
        transition-delay: 0.1s;
        opacity: 1;
        // right: 0;
        // transform-origin: right center;
      }
    }

  }

  .nav-links.active{
    a{
      color: #FFF;

      .nav-line{
        background-color: #FFF;
      }
    }
  }




  ul{
    padding:2rem;
  }
  li{
    list-style:none;
    width:100%;
    height:4px;
    background:#000;
    margin-bottom:6px;
    position:relative;
  }
  li:first-child{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    top:0px;
  }
  li:last-child{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    top:0px;
  }
  .open li{
    opacity:0;
  }
  .open li:first-child{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    top:12px;
    opacity:1;
  }
  .open li:last-child{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    top:-12px;
    opacity:1;
  }
}

.nav-line{
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform .4s cubic-bezier(.19,1,.22,1);
}



// .slide {
//   transform: translate3d(0, -100%, 0);
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   background-color: rgba(255, 255, 255, 1);;
//   z-index: 33;
//   transition: all 300ms ease;
//   text-align: center;
// }
//
//
// .trans{
//   transform: translate3d(0, 0%, 0);
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   background-color: rgba(255, 255, 255, 0.9);;
//   z-index: 33;
//   transition: all 300ms ease;
// }
