//px to em
@function em($pxval, $base: 16) {
  @return ($pxval / $base) * 1em;
}

.greyscale{
  filter: grayscale(1);
}

//extend:
%full-size {
    width: 100%;
    height: 100%;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.overlay {
  position: absolute;
  z-index: 1;
}


// easing:
// exponential
$ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
$ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-expo-in-out: cubic-bezier(1, 0, 0, 1);
// cubic
$ease-cubic-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);


//helpers classes:
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.noMargin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.absoluteCentering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.root{
}
