<div class="overlay">
  <div class="row fullWidth">
    <div class="large-10 columns">
      <div>{{{introText}}}</div>
    </div>
  </div>
</div>

<section class="bg" transition="fade">
  <div class="tag">
    <p id="0" class="name">MICHAEL SCHADE</p>
    <p id="1" class="description_one">INTERACTION</p>
    <p id="2" class="description_two">DESIGN</p>
  </div>
</section>



<section class="work">
 {{{work}}}
</section>


<section class="contact">

</section>

<!-- <router-view "keep-alive"></router-view> -->


<!-- v-link="{ path: 'item.linkPath'}" -->
<!-- <div class="large-12 columns">
  <ul id="nav">
    <li v-for="item in links">
      <a id="{{item.id}}" class="font">{{item.linkName}}</a>
      <div class="line" style="transform-origin: left center 0px; transform: matrix(0, 0, 0, 1, 0, 0);"></div>
    </li>
  </ul>
</div> -->
