<div class="root" transition="hfade">

  <!-- Menu Toggle -->
  <navigation></navigation>

  <!-- First section and Background Image -->
  <section class="bg">
    <div class="tag">
      <p id="0" class="name">{{description.name | uppercase}}</p>
      <p id="1" class="description_one">{{description.one | uppercase}}</p>
      <p id="2" class="description_two">{{description.two | uppercase}}</p>
    </div>
  </section>

  <!-- Projects  -->
  <section class="work">
    <div class="row">
      <div class="small-6 columns">
      </div>
      <div class="small-6 columns">
      </div>
   </div>
  </section>

  <!-- Contact  -->
  <section class="contact">
  </section>

</div>
